:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black : #000000;
    --sm :14px;
    --md:16px;
    --lg:18px;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.details >img{
    width: 100%;
    border-radius: 5px;
}

.details{
    width: 360px;
      padding-bottom: 24px;
      position: absolute;
      right: 0;
}

.prodcut-info p{
    justify-items: left;

}

.button-add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--hospital-green);
    border-radius: 5px;
    border: 0px solid var(--hospital-green);
}
.button-add:hover{
    cursor: pointer;
}
.product-detail-close{
    background: var(--white);
      width: 14px;
      height: 14px;
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 2;
      padding: 12px;
      border-radius: 50%;
}

.product-detail-close:hover{
    cursor: pointer;
}


.prodcut-info .name p{
    margin: 24px 24px 0 24px;

}

.prodcut-info .name p:nth-child(1){
    font-weight: bold;
    color:var(--black);
    margin-left: 0px;
    
}



.prodcut-info .name p:nth-child(2){
    color:var(--very-light-pink);
    margin-left: 0px;
    margin-top: 0px;
}


.my-order >p{
    font-weight: bold;
    color: var(--black);
   place-items: center;
   width: 100%;
}

.my-order-container{
    background-color: var(--text-input-field);
    padding: 20px;
    border-radius: 5px;
}

.my-order-content p span:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
}

.my-order-content p span:nth-child(2){
    font-size: var(--md);
    font-weight: lighter;
}

.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.card{
    display: grid;
      grid-template-columns: auto 1fr auto auto;
      gap: 16px;
      margin-bottom: 24px;
      align-items: center;
}

.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }

.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}


.my-order-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-order-content p{
    display: flex;
    flex-direction: column;
}

.menu-container-mobile {
    padding: 24px;
  }
  .menu-container-mobile a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    /* margin-bottom: 24px; */
  }
  .menu-container-mobile ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
  }
  .menu-container-mobile ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
  }
  .menu-container-mobile ul li {
    margin-bottom: 24px;
  }
  .email-menu {
    font-size: var(--sm);
    font-weight: 300;
  }
  .sign-out-menu a {
    font-size: var(--sm);
    color: var(--hospital-green);
  }

.menu-container{
    width: 150px;
    height: 170px;
    border-radius: 5px;
    padding-top: 10px;
    border : 1px solid var(--very-light-pink)
}

.title-menu{
    text-align: right;
    font-weight: bold;
    color: var(--black);
    margin-right: 20px;
}

.tittle-sign{
    text-align: right;
    font-weight: bold;
    color: var(--hospital-green);
    margin-right: 20px;
    font-size: ver(--md);
    margin-top: 50px;
    margin-bottom: 25px;
    border-top: 1px solid var(--very-light-pink) ;
    margin-left: 20px;
    padding-top: 5px;
    
    
}

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr 
    auto;
    width: 300px;

}

.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.tittle{
    text-align: center;
    font-size: var(--lg);
    margin-bottom: 12px;
}

.tittle2{

    font-size: var(--lg);
    margin-bottom: 30px;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
    
}
.label{
    color:  var(--black);
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
 border-radius: 8px;
 background-color:#F7F7F7;
 border:none;
 height: 30px;
 font-size: var(--md);
 padding: 6px;
 margin-bottom: 12px;
 color: var(--very-light-pink)
}

.form{
    display: flex;
    flex-direction: column;
}

.primary-button{
    background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      cursor: pointer;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
}

.product-card > img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
}

.product-info div p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    display: inline-block;
}

.dots span:nth-child(1) {
    background-color: var(--hospital-green);
}

@media (max-width: 640px) {
    .cards-container{
        grid-template-columns: repeat(auto-fill,140px);
    }
    .details{
        width: 100%;
    }
}